
h1 {
	font-size: 50px;
	font-weight: 700;
	margin: .3em 0;
	text-align: center;
}

.header {
	align-items: center;
	background-color: $c_main;
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
}

.header_contacts {
	align-items: flex-end;
	display: flex;
	flex-direction: column;

	&__item {
		color: #fff;
		text-decoration: none;
		transition: $transition;

		&:hover {
			color: #000;
		}
	}
}

.logo {
	background-color: $c_main;
	display: inline-block;
	padding: 0 10px;

	img {
		height: 100px;
		width: 100px;
	}
}

.price_total {
	border: 1px solid $c_shadow;
	bottom: 10px;
	box-shadow: 3px 3px 3px $c_shadow;
	font-size: 20px;
	padding: 8px 16px;
	position: fixed;
	right: 10px;
	z-index: 9;

	span {
		color: $c_main;
		font-weight: 700;
	}
}

.topmenu {
	display: flex;
	flex-grow: 1;
	font-size: 24px;
	justify-content: center;
	list-style: none;
	text-transform: uppercase;

	&__item {}
}

.topmenu_link {
	color: #fff;
	display: block;
	margin: 0 1em;
	position: relative;
	text-decoration: none;
	transition: $transition;

	&::after {
		background-color: #000;
		content: "";
		height: 2px;
		left: 50%;
		position: absolute;
		top: 100%;
		transition: $transition;
		width: 0;
	}

	&:hover {
		color: #000;

		&::after {
			left: 0;
			width: 100%;
		}
	}
}

.wrap {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 30px;
	width: 100%;

	&__type2 {
		max-width: 900px;
	}

	&__type3 {
		max-width: 600px;
	}
}
