
h1 {
	font-size: 50px;
	font-weight: 700;
	margin: .3em 0;
	text-align: center;
}

h2 {
	margin: 1.3em 0 .3em;
	text-align: center;
}

.btn {
	display: inline-block;
	transition: $transition;

	&__submit {
		background-color: $c_main;
		border-radius: 8px;
		border: 0 none;
		color: #fff;
		cursor: pointer;
		font-size: 20px;
		font-weight: 700;
		padding: .5em 1em;
		text-transform: uppercase;

		&:hover {
			transform: scale(1.1);
			letter-spacing: .05em;
		}
	}
}

.form_submit {
	margin: 30px 0;
	text-align: center;
}

.footer {
	background-color: $c_shadow;
	padding: 100px 0;
	text-align: center;
}

.footer_copyright {
	font-size: 12px;
}

.footer_link {
	color: $c_text;
	transition: $transition;

	&:hover {
		color: #000;
		text-decoration: none;
	}
}

// lang [START]
.lang_bg {
	.lang_en {
		display: none;
	}
}

.lang_en {
	.lang_bg {
		display: none;
	}

	.lang_en__active {}
}

.lang_switcher {
	display: flex;
	font-size: 16px;
	font-weight: 700;
	list-style: none;
	text-transform: uppercase;

	a,
	a:visited {
		color: #fff;
		text-decoration: none;
		transition: $transition;

		&:hover {
			color: #000;
		}
	}

	li {
		position: relative;

		&::after {
			background-color: #fff;
			content: "";
			display: inline-block;
			height: 18px;
			margin: 0 .3em -3px;
			opacity: .7;
			width: 2px;
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}
}
// lang [END]

.logo {
	background-color: $c_main;
	display: inline-block;
	padding: 0 10px;

	img {
		height: 70px;
		width: 70px;
	}
}

.order_form {
	input {
		&[type="text"] {
			font-size: 18px;
			padding: .5em 1em;
		}

		&:focus {
			outline: none;
		}
	}
}

.order_label {
	align-items: center;
	display: flex;
	font-size: 18px;
	justify-content: flex-end;
	margin: 10px 0;

	span {
		padding: 0 1em 0 0;
	}

	input {
		max-width: 220px;
		width: 100%;
	}
}

.order_user_info {
	margin: 0 auto;
	max-width: 450px;
	width: 100%;
}

.price_total {
	background-color: #fff;
	//border: 1px solid $c_shadow_dark;
	border: 1px solid $c_main;
	bottom: .5em;
	box-shadow: 3px 3px 3px $c_main;
	font-size: 30px;
	padding: .5em 1em;
	position: fixed;
	right: .5em;
	z-index: 9;

	&__number {
		color: $c_main;
		font-weight: 700;
	}
}

.topmenu {
	display: flex;
	flex-grow: 1;
	font-size: 20px;
	justify-content: center;
	list-style: none;
	text-transform: uppercase;

	&__item {}
}

.topmenu_link {
	color: #fff;
	display: block;
	margin: 0 1em;
	position: relative;
	text-decoration: none;
	transition: $transition;

	&::after {
		background-color: #000;
		content: "";
		height: 2px;
		left: 50%;
		position: absolute;
		top: 100%;
		transition: $transition;
		width: 0;
	}

	&:hover {
		color: #000;

		&::after {
			left: 0;
			width: 100%;
		}
	}
}

.wrap {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 30px;
	width: 100%;

	&__type2 {
		max-width: 900px;
	}

	&__type3 {
		max-width: 600px;
	}
}
