


a {
	outline: none !important;
}

body {
	background-color: #fff;
	color: #777;
	font-family: $font_main;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	overflow-x: hidden;
}

html {
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	box-shadow: none !important;
	direction: ltr;
	overflow-x: hidden;
}


