
.header {
	align-items: center;
	background-color: $c_main;
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
}

.header_contacts {
	align-items: flex-end;
	display: flex;
	flex-direction: column;

	&__item {
		color: #fff;
		font-size: 12px;
		text-decoration: none;
		transition: $transition;

		&:hover {
			color: #000;
		}
	}
}
