


// colors
$c_success:     #aaf1a0;
$c_main:        #f7941d;
$c_text:        #777;



// @medias
$desktop:           'only screen and (max-width: 1279px)';
$mobile:            'only screen and (max-width: 767px)';
$mobile_s:          'only screen and (max-width: 400px)';
$tablet:            'only screen and (max-width: 1023px)';



$transition:        all .3s ease-in-out;



// fonts
$font_josefin:      'Josefin Sans',         Helvetica, Arial, sans-serif;
$font_main:         'Playfair Display',     Helvetica, Arial, sans-serif;
$font_playfair:     'Playfair Display',     Helvetica, Arial, sans-serif;
$font_rubik:        'Rubik',                Helvetica, Arial, sans-serif;


