
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

// colors
$c_success:     #aaf1a0;
$c_main:        #f7941d;
$c_text:        #777;

// @medias
$desktop:           'only screen and (max-width: 1279px)';
$mobile:            'only screen and (max-width: 767px)';
$mobile_s:          'only screen and (max-width: 400px)';
$tablet:            'only screen and (max-width: 1023px)';

$transition:        all .3s ease-in-out;

// fonts
$font_main:         'Nunito',               Helvetica, Arial, sans-serif;
$font_nunito:       'Nunito',               Helvetica, Arial, sans-serif;
